.cls-image-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

.cls-container-bg {
    // background-image: url(/assets/images/bg-login.jpg) !important;
    // background-repeat: no-repeat !important;
    // width: auto;
    // height: 100vh;
    // background-size: cover;
}

.cls-container-login {
    background: #ffffff;
    position: fixed;

    .cls-form-login {
        width: 300px;

        .form-text {
            color: #ff6c3e !important;
        }
    }

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.cls-amarillo {
    color: #ff9800;
}
