<header class="cls-header">
    <nav class="navbar navbar-dark bg-dark">
        <div class="mx-5">
            <h4>Universidad educación libre.</h4>
        </div>

        <div class="mx-5">


            <button *ngIf="servicioGlobal.rutaActual !== 'login'" type="button" class="btn btn-light"
                (click)="routeLogin()">Ir al login</button>

            <button *ngIf="servicioGlobal.rutaActual === 'login'" type="button" class="btn btn-light"
                (click)="routeProgramas()">Programas en oferta</button>

        </div>
    </nav>
</header>

<div>
    <router-outlet></router-outlet>
</div>

<footer class="bg-light text-center text-lg-start cls-footer">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 20201 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">mintic.com</a>
    </div>
    <!-- Copyright -->
</footer>